# See http://help.github.com/ignore-files/ for more about ignoring files.

# config
.env

# compiled output
/dist
/tmp
.firebase/hosting*
database-debug.log

# dependencies
/node_modules
src/node_modules
src/serviceAccountKey.json

# misc
npm-debug.log*
firebase-debug.log
yarn-error.log

# vs studio code
jsconfig.json
typings/
pnpm-lock.yaml
