# See http://help.github.com/ignore-files/ for more about ignoring files.

# config
.env

# secrets
.runtimeconfig.json

# compiled output
/dist
/tmp

# dependencies
/node_modules
src/node_modules
src/serviceAccountKey.json

# misc
npm-debug.log*
firebase-debug.log

# vs studio code
jsconfig.json
typings/
